<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvMUvfQ-uZfSNRhgxhmuk63pYT7_NbxS8</string>
	<key>GCM_SENDER_ID</key>
	<string>18301750596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.microvisionLpr</string>
	<key>PROJECT_ID</key>
	<string>microvision-lpr</string>
	<key>STORAGE_BUCKET</key>
	<string>microvision-lpr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18301750596:ios:d4c7522881f515e6339b11</string>
</dict>
</plist>